page-topic {
    .card-background-page {

        .grid {
          padding: 0px;
        }

        [col-6], [col-sm-4], [col-md-3] {
          padding: 0px;
        }

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 1.1em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
    }
}
